In [5]:
# Dependencies
import pandas as pd
import csv
import os
from glob import iglob
import fileinput

In [6]:
file1 = pd.read_csv('2006-bystate-06tbl69.csv')
# file1 = pd.read_csv('2014-05 - Citi Bike trip dataNEW.csv')

In [7]:
file1

,State,Unnamed: 1,Total all classes1,Violent crime2,Property crime2,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Burglary,...,Liquor laws,Drunkenness3,Disorderly conduct,Vagrancy,All other offenses (except traffic),Suspicion,Curfew and loitering law violations,Runaways,2006 estimated population,Year
0,ALABAMA,Total all ages,"189,558","5,925","17,246",347,320,"1,610","3,648","3,262",...,"5,778","9,371","4,478",288,"74,319",0.0,31,429,"3,691,413",2006.0
1,ALASKA,Total all ages,"36,994","1,632","4,366",36,60,144,"1,392",555,...,"1,940",172,913,3,"15,131",1.0,0,285,"641,049",2006.0
2,ARIZONA,Total all ages,"307,695","8,633","35,301",294,208,"1,566","6,565","4,629",...,"24,317",1,"17,251","1,128","88,258",0.0,"3,973","5,271","5,893,944",2006.0
3,ARKANSAS,Total all ages,"113,791","4,720","11,800",130,240,646,"3,704","2,610",...,"1,723","8,623","3,012","1,608","43,009",199.0,810,530,"1,943,587",2006.0
4,CALIFORNIA,Total all ages,"1,543,797","123,875","166,417","1,965","2,119","20,343","99,448","52,204",...,"21,533","106,859","17,014","5,198","347,996",0.0,"19,613","5,286","36,291,331",2006.0
5,COLORADO,Total all ages,"247,536","7,047","24,194",112,484,"1,053","5,398","3,070",...,"16,968",384,"12,023",190,"95,458",23.0,"2,579","3,605","4,493,272",2006.0
6,CONNECTICUT,Total all ages,"96,616","4,501","12,178",93,234,978,"3,196","1,945",...,994,12,"12,879",23,"26,302",0.0,137,36,"2,137,426",2006.0
7,DELAWARE,Total all ages,"39,832","2,563","5,465",19,132,550,"1,862","1,083",...,"2,321",472,"2,769",706,"6,315",0.0,112,1,"853,476",2006.0
8,DISTRICT OF COLUMBIA,Total all ages,"5,681",94,59,0,0,53,41,1,...,"1,397",78,248,182,"3,258",0.0,2,0,NaN,2006.0
9,FLORIDA,Total all ages,"1,110,535","50,769","121,160",755,"1,960","9,703","38,351","27,188",...,"32,137",NaN,NaN,NaN,"534,759",NaN,NaN,NaN,"18,015,015",2006.0
10,GEORGIA,Total all ages,"234,735","10,295","23,418",252,255,"2,002","7,786","3,948",...,"10,220","3,207","20,530",835,"70,543",20.0,535,976,"3,185,684",2006.0
11,HAWAII,Total all ages,"48,018","1,145","3,958",28,89,303,725,421,...,895,6,588,0,"22,520",0.0,216,"4,339","1,081,338",2006.0
12,IDAHO,Total all ages,"65,945","1,330","6,060",27,127,110,"1,066",904,...,"5,453",242,"2,451",7,"22,814",0.0,696,"1,766","1,236,683",2006.0
13,ILLINOIS,Total all ages,"191,165",402,"23,461",320,14,"3,320","5,253","2,988",...,"1,537",0,"21,513",179,"30,501",0.0,706,20,"3,011,534",2006.0
14,INDIANA,Total all ages,"170,293","5,571","21,087",161,153,916,"4,341","3,075",...,"11,880","12,522","5,435",40,"42,647",123.0,513,"3,646","3,741,675",2006.0
15,IOWA,Total all ages,"109,230","3,847","11,736",26,107,331,"3,383","2,013",...,"8,739","10,013","5,789",13,"29,651",0.0,927,438,"2,479,827",2006.0
16,KANSAS,Total all ages,"70,057","2,177","5,626",47,175,206,"1,749",946,...,"6,852",238,"3,708",0,"16,953",0.0,0,"1,612","1,783,369",2006.0
17,KENTUCKY,Total all ages,"73,504","2,039","8,443",41,64,807,"1,127","1,754",...,"1,014","5,543","1,943",646,"26,159",0.0,216,160,"984,186",2006.0
18,LOUISIANA,Total all ages,"161,316","7,248","17,087",292,306,953,"5,697","3,819",...,"6,945","2,193","17,941",294,"43,800",36.0,497,524,"2,057,838",2006.0
19,MAINE,Total all ages,"57,351",741,"7,001",0,81,186,474,"1,376",...,"4,952",78,"1,845",0,"17,606",0.0,74,141,"1,317,948",2006.0
20,MARYLAND,Total all ages,"297,530","12,431","34,745",317,400,"4,213","7,501","7,389",...,"6,061",3,"6,697",155,"108,635",723.0,281,878,"5,571,209",2006.0
21,MASSACHUSETTS,Total all ages,"130,219","11,563","15,070",74,303,"1,951","9,235","3,191",...,"4,575","6,827","7,385",16,"31,463",173.0,19,310,"5,471,817",2006.0
22,MICHIGAN,Total all ages,"324,698","13,929","35,466",209,747,"2,680","10,293","6,000",...,"25,263",538,"10,301",563,"101,709",0.0,"1,527","1,525","9,426,852",2006.0
23,MINNESOTA,Total all ages,NaN,NaN,"24,559",90,NaN,"1,292","4,224","3,344",...,"25,700",0,"13,282",332,"37,857",0.0,"4,847","4,247","4,610,061",2006.0
24,MISSISSIPPI,Total all ages,"119,506","2,268","9,857",155,203,642,"1,268","2,245",...,"3,022","7,324","8,235",71,"35,165",106.0,475,261,"1,616,759",2006.0
25,MISSOURI,Total all ages,"372,182","15,892","42,055",351,737,"2,443","12,361","7,129",...,"15,123",108,"16,123",324,"123,165",0.0,"1,914","3,349","5,748,820",2006.0
26,NEBRASKA,Total all ages,"88,602","1,575","8,973",44,145,317,"1,069",962,...,"11,549",0,"4,136",42,"20,114",1.0,379,407,"1,543,773",2006.0
27,NEVADA,Total all ages,"163,109","4,895","15,323",159,207,"1,659","2,870","2,954",...,"8,409",189,"2,876","1,775","62,064",27.0,"3,381","1,651","2,481,554",2006.0
28,NEW HAMPSHIRE,Total all ages,"46,100",592,"2,885",8,67,145,372,397,...,"5,376","4,453","1,482",48,"13,841",0.0,17,351,"1,039,150",2006.0
29,NEW JERSEY,Total all ages,"388,116","14,314","31,288",312,428,"4,425","9,149","6,144",...,"8,036",3,"21,548","1,635","146,975",5.0,"6,322","5,013","8,446,877",2006.0
30,NEW MEXICO,Total all ages,"72,114","2,806","5,520",67,99,350,"2,290",984,...,"3,716",167,"2,727",0,"32,339",125.0,18,386,"1,268,388",2006.0
31,NEW YORK,Total all ages,"345,357","16,095","48,763",298,730,"4,300","10,767","8,611",...,"5,864",0,"16,474","1,599","87,472",0.0,0,0,"9,446,127",2006.0
32,NORTH CAROLINA,Total all ages,"436,676","18,660","53,401",629,702,"3,921","13,408","14,874",...,"16,408",0,"16,351",503,"127,080",0.0,12,"1,413","6,749,209",2006.0
33,NORTH DAKOTA,Total all ages,"28,597",275,"2,256",4,39,25,207,329,...,"6,336",605,"1,751",0,"5,688",0.0,252,667,"575,177",2006.0
34,OHIO,Total all ages,"235,005","6,564","28,912",164,476,"2,320","3,604","5,320",...,"11,710","4,138","18,146",79,"62,940",23.0,"1,764",881,"5,693,115",2006.0
35,OKLAHOMA,Total all ages,"145,171","5,304","13,622",154,261,750,"4,139","2,882",...,"3,588","22,120","3,094",0,"34,195",0.0,"2,228","3,037","3,254,461",2006.0
36,OREGON,Total all ages,"124,612","4,142","22,488",101,263,939,"2,839","2,482",...,"13,434",0,"6,355",4,"17,802",0.0,"2,160","1,876","3,099,031",2006.0
37,PENNSYLVANIA,Total all ages,"457,514","25,102","52,799",476,"1,072","7,367","16,187","9,803",...,"27,319","21,686","57,363","1,041","53,626",0.0,"29,734","2,083","10,932,970",2006.0
38,RHODE ISLAND,Total all ages,"35,999",697,"2,816",13,48,144,492,587,...,766,14,"3,046",11,"15,183",1.0,35,48,"954,017",2006.0
39,SOUTH CAROLINA,Total all ages,"187,578","10,311","20,899",282,390,"1,609","8,030","4,678",...,"8,329","8,033","13,040",734,"34,219",0.0,45,439,"3,877,177",2006.0
40,SOUTH DAKOTA,Total all ages,"13,677",154,751,1,25,10,118,108,...,"3,670",146,662,1,"1,372",0.0,164,197,"365,423",2006.0
41,TENNESSEE,Total all ages,"285,475","13,340","31,606",326,345,"2,885","9,784","5,869",...,"8,737","20,935","11,245",25,"77,655",0.0,"1,564","2,474","4,877,891",2006.0
42,TEXAS,Total all ages,"1,078,961","33,025","111,837",777,"2,131","7,222","22,895","18,328",...,"29,348","120,286","42,913","2,779","318,321",7.0,"12,999","11,441","22,453,094",2006.0
43,UTAH,Total all ages,"109,762","1,598","12,313",28,163,355,"1,052","1,152",...,"10,054","4,134","4,619",301,"41,837",0.0,"1,944",254,"2,003,810",2006.0
44,VERMONT,Total all ages,"13,798",386,"1,431",6,65,13,302,310,...,770,6,813,2,"2,635",0.0,2,1,"520,953",2006.0
45,VIRGINIA,Total all ages,"276,305","6,908","23,877",228,323,"1,856","4,501","3,967",...,"8,855","24,684","5,526",134,"90,596",0.0,"2,961","4,975","5,895,712",2006.0
46,WASHINGTON,Total all ages,"246,388","7,674","34,948",148,783,"1,866","4,877","5,841",...,"13,030",7,"4,931",21,"64,789",10.0,60,"1,937","5,254,276",2006.0
47,WEST VIRGINIA,Total all ages,"26,566",882,"2,377",18,35,75,754,496,...,"1,274","1,063",474,6,"6,077",0.0,49,31,"885,812",2006.0
48,WISCONSIN,Total all ages,"414,975","8,081","38,521",182,732,"1,650","5,517","4,898",...,"42,935",5,"63,761","3,496","126,158",4.0,"7,164","4,380","5,294,726",2006.0
49,WYOMING,Total all ages,"38,780",573,"2,341",4,25,26,518,315,...,"4,471","2,002","1,360",16,"13,591",118.0,359,297,"502,901",2006.0
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import pandas as pd
import glob
interesting_files = glob.glob("*.csv")
df_list = []
for filename in sorted(interesting_files):
    df_list.append(pd.read_csv(filename))
full_df = pd.concat(df_list)

full_df.to_csv('output.csv')