In [6]:
# dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [7]:
# load corrections data
corrections_path = os.path.join('data', 'corrections', 'corrections_all.csv')
corrections_df = pd.read_csv(corrections_path)
corrections_df.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Total,"$35,129,203.00","$38,164,541.00","$38,887,742","$39,187,839","$39,313,812","$40,689,366","$42,720,103","$46,497,875",49897531,50382439,48549551
1,Alabama,"$278,856.00","$303,759.00","$331,476","$356,928","$397,943","$422,780","$451,885","$514,385",525281,541049,551544
2,Alaska,"$173,624.00","$172,610.00","$173,844","$182,046","$176,642","$196,953","$210,204","$237,144",243961,259889,270536
3,Arizona,"$719,690.00","$760,323.00","$733,455","$731,041","$790,485","$852,183","$879,959","$946,922",1023693,1135021,1061067
4,Arkansas,"$275,158.00","$290,520.00","$284,600","$305,803","$351,786","$348,766","$394,989","$331,717",361537,305250,369684

In [ ]:
# waiting for complete crime data
# load crime data
crime_path = os.path.join('data', 'crime', ...)