In [1]:
# Dependencies
import pandas as pd
import csv
import os
from glob import iglob
import fileinput

In [2]:
file1 = pd.read_csv('Table_69_Arrest_by_State_2011.csv')
# file1 = pd.read_csv('2014-05 - Citi Bike trip dataNEW.csv')

In [3]:
file1

,State,"by State, 2011",Total all classes1,Violent crime2,Property crime2,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Burglary,...,Liquor laws,Drunkenness3,Disorderly conduct,Vagrancy,All other offenses (except traffic),Suspicion,Curfew and loitering law violations,Number of agencies,2011 estimated population,Unnamed: 35
0,ALABAMA4,Total all ages,"2,101",15,531,0,0,11,4,17,...,6,193,30,0,425,0,0,NaN,NaN,NaN
1,ALASKA,Total all ages,"39,607","2,006","3,824",32,81,225,"1,668",417,...,"2,603",102,"1,115",7,"15,362",4,32,NaN,NaN,NaN
2,ARIZONA,Total all ages,"285,528","8,589","40,144",244,196,"1,736","6,413","4,615",...,"21,739",0,"17,374","1,181","78,889",0,"2,791",NaN,NaN,NaN
3,ARKANSAS,Total all ages,"108,281","3,229","12,948",59,139,435,"2,596","2,391",...,"1,828","7,316","2,681",458,"48,524",0,317,NaN,NaN,NaN
4,CALIFORNIA,Total all ages,"1,183,470","107,165","147,842","1,512","1,757","17,431","86,465","52,355",...,"15,904","99,017","11,246","5,122","310,025",0,"8,440",NaN,NaN,NaN
5,COLORADO,Total all ages,"208,352","5,701","23,445",107,400,936,"4,258","2,407",...,"11,424","1,734","9,672",160,"84,671",21,"1,209",NaN,NaN,NaN
6,CONNECTICUT,Total all ages,"119,285","4,817","17,366",128,267,"1,397","3,025","2,771",...,919,4,"12,458",41,"29,448",0,21,NaN,NaN,NaN
7,DELAWARE,Total all ages,"37,832","2,328","7,325",29,93,583,"1,623",981,...,"1,615",669,"2,141","1,129","5,329",0,106,NaN,NaN,NaN
8,DISTRICT OF COLUMBIA5,Total all ages,"8,725",157,175,0,0,118,39,0,...,"1,455",70,159,103,"6,016",0,0,NaN,NaN,NaN
9,"FLORIDA4, 6",Total all ages,"952,845","43,364","128,489",709,"1,527","9,148","31,980","28,778",...,"27,256",0,0,0,"448,935",0,0,NaN,NaN,NaN
10,GEORGIA,Total all ages,"349,708","14,419","53,874",460,350,"2,787","10,822","9,596",...,"9,783","3,384","26,769","1,139","98,506",99,718,NaN,NaN,NaN
11,IDAHO,Total all ages,"63,005","1,303","7,037",17,68,82,"1,136",948,...,"4,076",435,"2,220",15,"23,169",0,400,NaN,NaN,NaN
12,ILLINOIS7,Total all ages,"132,863","6,939","18,924",290,409,"2,524","3,716","2,570",...,"1,060",0,"11,031",110,"18,337",0,224,NaN,NaN,NaN
13,INDIANA,Total all ages,"194,774","8,398","30,383",243,187,"1,687","6,281","4,223",...,"10,395","16,303","6,873",83,"47,533",130,620,NaN,NaN,NaN
14,IOWA,Total all ages,"105,015","3,939","14,424",33,110,202,"3,594","1,924",...,"7,261","12,158","6,155",18,"23,912",0,525,NaN,NaN,NaN
15,KANSAS,Total all ages,"78,391","2,236","7,624",44,187,189,"1,816",982,...,"6,204",347,"2,746",0,"23,964",0,0,NaN,NaN,NaN
16,KENTUCKY,Total all ages,"176,087","3,563","19,953",114,244,"1,146","2,059","3,818",...,500,"19,360","4,998",407,"60,061",0,68,NaN,NaN,NaN
17,LOUISIANA,Total all ages,"119,085","8,420","19,892",158,208,959,"7,095","3,774",...,"6,723","2,794","9,772",424,"25,439",257,161,NaN,NaN,NaN
18,MAINE,Total all ages,"51,592",751,"8,142",17,75,204,455,"1,396",...,"3,937",24,"1,709",15,"15,312",0,33,NaN,NaN,NaN
19,MARYLAND,Total all ages,"229,010","9,551","28,345",202,305,"2,819","6,225","5,982",...,"6,129",10,"6,306",136,"80,150",398,211,NaN,NaN,NaN
20,MASSACHUSETTS,Total all ages,"137,379","11,512","18,428",90,288,"1,808","9,326","3,693",...,"4,311","7,249","7,384",9,"35,084",23,8,NaN,NaN,NaN
21,MICHIGAN,Total all ages,"251,200","11,856","34,176",158,589,"2,141","8,968","6,045",...,"14,923",391,"8,563",261,"71,740",0,701,NaN,NaN,NaN
22,MINNESOTA7,Total all ages,"176,051","5,140","28,405",69,152,"1,196","3,723","2,993",...,"20,644",1,"13,184",571,"33,289",0,"2,597",NaN,NaN,NaN
23,MISSISSIPPI,Total all ages,"102,765","2,223","11,509",173,161,625,"1,264","2,373",...,"1,560","4,409","6,783",57,"32,803",135,368,NaN,NaN,NaN
24,MISSOURI,Total all ages,"295,080","10,401","41,476",252,382,"2,117","7,650","6,475",...,"10,269",609,"13,006",276,"99,891",0,"1,780",NaN,NaN,NaN
25,MONTANA,Total all ages,"29,678",829,"4,118",10,40,45,734,225,...,"3,915",0,"3,458",4,"5,495",0,585,NaN,NaN,NaN
26,NEBRASKA,Total all ages,"81,890","2,111","11,062",53,213,355,"1,490",902,...,"10,191",0,"3,761",17,"15,961",1,223,NaN,NaN,NaN
27,NEVADA,Total all ages,"141,908","5,690","14,355",107,168,"1,491","3,924","2,579",...,"7,709",200,"2,765","2,096","49,936",6,"1,955",NaN,NaN,NaN
28,NEW HAMPSHIRE,Total all ages,"40,699",860,"4,152",4,42,159,655,516,...,"3,329","2,993","1,116",50,"12,343",0,17,NaN,NaN,NaN
29,NEW JERSEY,Total all ages,"333,136","11,947","33,726",207,279,"3,561","7,900","6,584",...,"7,259",0,"17,791",289,"128,317",0,"1,795",NaN,NaN,NaN
30,NEW MEXICO,Total all ages,"108,731","4,386","13,257",83,121,380,"3,802","1,835",...,"5,084",658,"3,502",5,"45,917",10,15,NaN,NaN,NaN
31,NEW YORK4,Total all ages,"303,435","11,306","53,185",176,402,"2,851","7,877","7,376",...,"3,746",0,"11,322",716,"61,918",0,0,NaN,NaN,NaN
32,NORTH CAROLINA,Total all ages,"494,561","19,735","71,541",573,560,"3,900","14,702","17,331",...,"29,426",0,"16,003",414,"147,622",0,0,NaN,NaN,NaN
33,NORTH DAKOTA,Total all ages,"26,012",495,"2,936",8,30,22,435,213,...,"4,269",332,"1,698",1,"5,571",0,206,NaN,NaN,NaN
34,OHIO,Total all ages,"256,625","7,642","37,720",235,474,"2,795","4,138","6,542",...,"9,777","3,117","17,659",39,"58,311",55,920,NaN,NaN,NaN
35,OKLAHOMA,Total all ages,"134,295","5,155","17,945",144,231,669,"4,111","2,743",...,"1,969","19,661","2,712",166,"36,352",0,"1,707",NaN,NaN,NaN
36,OREGON,Total all ages,"133,414","4,289","24,655",68,229,933,"3,059","2,541",...,"13,663",0,"10,202",0,"20,658",0,845,NaN,NaN,NaN
37,PENNSYLVANIA,Total all ages,"418,838","23,179","58,946",445,953,"6,470","15,311","9,730",...,"20,017","23,971","48,699","1,061","51,069",0,"13,702",NaN,NaN,NaN
38,RHODE ISLAND,Total all ages,"29,852",702,"3,368",6,56,141,499,773,...,625,4,"2,880",1,"10,100",0,21,NaN,NaN,NaN
39,SOUTH CAROLINA,Total all ages,"169,884","7,870","26,954",273,322,"1,309","5,966","4,479",...,"7,466","8,736","13,384",858,"25,346",0,64,NaN,NaN,NaN
40,SOUTH DAKOTA,Total all ages,"29,023",577,"3,544",14,46,35,482,361,...,"4,658",113,"1,984",262,"3,080",0,206,NaN,NaN,NaN
41,TENNESSEE,Total all ages,"386,758","16,546","45,236",316,429,"2,331","13,470","8,113",...,"7,548","20,339","11,877",19,"154,501",0,"1,978",NaN,NaN,NaN
42,TEXAS,Total all ages,"1,026,398","30,462","128,461",640,"1,708","6,495","21,619","17,960",...,"23,842","117,766","32,867","1,814","310,078",0,"6,522",NaN,NaN,NaN
43,UTAH,Total all ages,"47,321",703,"8,138",13,117,88,485,722,...,"4,415","1,172","1,669",21,"13,744",0,525,NaN,NaN,NaN
44,VERMONT,Total all ages,"10,907",421,"1,487",4,36,9,372,258,...,358,3,592,1,"2,229",0,0,NaN,NaN,NaN
45,VIRGINIA,Total all ages,"347,903","6,721","38,670",269,336,"1,982","4,134","4,733",...,"12,312","33,460","5,345",240,"118,964",0,"1,997",NaN,NaN,NaN
46,WASHINGTON,Total all ages,"129,201","5,295","24,813",99,454,"1,139","3,603","3,765",...,"4,994",29,"3,548",30,"36,677",2,52,NaN,NaN,NaN
47,WEST VIRGINIA,Total all ages,"50,204","1,947","6,537",46,61,236,"1,604","1,007",...,"1,710","3,037","1,033",11,"14,148",0,70,NaN,NaN,NaN
48,WISCONSIN,Total all ages,"317,773","7,448","35,805",127,693,"1,775","4,853","4,126",...,"27,068",12,"48,195","2,712","98,086",0,"4,323",NaN,NaN,NaN
49,WYOMING,Total all ages,"34,041",560,"2,735",8,31,28,493,241,...,"3,285","2,679","1,257",27,"10,564",9,341,NaN,NaN,NaN

In [7]:
import pandas as pd
import glob
interesting_files = glob.glob("*.csv")
df_list = []
for filename in sorted(interesting_files):
    df_list.append(pd.read_csv(filename))
full_df = pd.concat(df_list)

full_df.to_csv('output.csv')